$aboutSectionHeight: 500px;

.About {
    width: 100%;
    height: $aboutSectionHeight;
    margin-bottom: 150px;
    position: relative;
    
    &__Image {
        overflow: hidden;
        width: 100%;
        height: $aboutSectionHeight;
        z-index: 1;
        position: relative;

        & img {
            position: absolute;
    
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 100%;
            height: auto;
            z-index: 1;
        }
    }

    &__Shadow {
        width: 100%;
        height: $aboutSectionHeight;
        background: rgba($primary, 0.33);
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__Card { // About__Card
        position: absolute;
        top: 35%;
        right: 6%;
        max-width: 35vw;
        min-width: 426px;
        border-radius: 4px;
        box-shadow: 0 14px 40px 0px rgba(0, 0, 0, 0.1), 0 5px 11px 0px rgba(0, 0, 0, 0.08);

        @media (max-width: 600px) {
            left: 50%;
            right: 0;
            min-width: 0;
            transform: translateX(-50%);
            max-width: 80%;
            width: 100%;
        }

        background: white;
        padding: 32px;
        z-index: 3;

        & h3 {
            margin-top: 0;
            font-size: 34px;   
        }

        & a {
            color: rgba(0, 0, 0, 0.6); 
            float: right;
            transition: color 155ms ease;

            &:hover {
                color: rgba(0, 0, 0, 1);        
            }
        }
    }
}