.Contact {
    width: 100%;
    height: auto;
    background: #ffffff;
    margin: 30px auto;
    
    

    &__Container {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        //padding: 20px;
        width: 100%;

        @media (max-width: 910px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        &__Item {

            & .Icon {
                opacity: 1;
                &:hover {
                    opacity: .8;
                }
            }

        }

        &__Data {
            display: block;
            position: relative;
            
        }
        
        &__Form {
            display: block;
            position: relative;
        }

        & i {
            font-size: 20px;
        }
    }

    &__Form {

        &__Success {
            color: #388e3c;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: bold;;
        }
        
        &__Error {
            color: #c62828;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: bold;;
        }
    }

}