.Header {
    position: relative;
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    height: calc(100vh - 100px); /* Odejmujemy wysokość ekranu od wysokości NavBar */

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;

    @media (max-width: 600px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.Header__side {
    width: 500px;
    padding: 0 32px;

    &__shape {
        //border-radius: 30% 70% 69% 31% / 30% 27% 73% 70%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        width: 570px;
        height: 600px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 14px 40px 0px rgba(0, 0, 0, 0.1), 0 5px 11px 0px rgba(0, 0, 0, 0.08);

        animation: morph 8s ease-in-out infinite;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-3deg);
            animation: rotateImage 12s ease-in-out infinite;
            z-index: 1;
        }
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top left, rgba($primary, .6) 5%, rgba($primary, .0));
        z-index: 2;
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@keyframes rotateImage {
    0% {
        transform: translate(-50%, -50%) rotate(-3deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(3deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-3deg);
    }
}

.Header__side--wide {
    width: 600px;
}