.Header {
    position: relative;
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    height: calc(100vh - 100px); /* Odejmujemy wysokość ekranu od wysokości NavBar */

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow: hidden;

    & p {
        text-align: justify !important;
    }
}

.Header__side {
    width: 500px;
    padding: 0 32px;
    position: relative;

    &__shape {
        //border-radius: 30% 70% 69% 31% / 30% 27% 73% 70%;
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        width: 570px;
        height: 600px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 14px 40px 0px rgba(0, 0, 0, 0.1), 0 5px 11px 0px rgba(0, 0, 0, 0.08);

        animation: morph 10s ease-in-out infinite;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }

    &__dotty {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        width: 770px;
        height: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        background: url(../../assets/dotty.svg);
        opacity: 0.1;
        background-size: 24px;

        &--mobile {
            display: none;

            @media (max-width: 600px) {
                display: block;
                top: 170%;
                left: 130%;
            }
        }
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top left, rgba($primary, 0.4) 5%, rgba($primary, .08));
        background-size: 600% 600%;
        z-index: 2;
        animation: shadowGradient 10s ease-in-out infinite;
    }

    &--text {
        @media (max-width: 600px) {
            width: 100%;
        }
    }

    &--fancy {
        @media (max-width: 1000px) {
            display: none;
        }
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transform: rotate(-3deg);
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        transform: rotate(3deg);
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        transform: rotate(-3deg);
    }
}

@keyframes shadowGradient {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}

.Header__side--wide {
    width: 600px;
}