.Portfolio {
    width: 100%;
    // height: 600px;
    text-align: center;

    & h2 {
        font-size: 35px;
    }

    &__Projects{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        max-width: 1440px;
        margin: 20px auto;
    }
}