.DrawerButton {
    position: relative;
    font-weight: bold;
    transition: all 255ms ease;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: none;
    padding: 12px 16px;
    width: 100%;
    outline: 0;
    border-radius: 4px;


    &__Icon {
        flex: 0;
        width: 22px;
        font-size: 22px;
        margin-right: 20px;
        color: rgba(0, 0, 0, .45);
    }

    &__Children {
        flex: 2;
        font-size: 14px;
        text-align: left;
    }

    &--active {
        background: rgba($primary, .3);
        
        .DrawerButton__Icon, .DrawerButton__Children {
            color: $primary;
        }
    }

    &:hover {
        background: rgba($primary, .5); 
        outline: 0;
    }
}

.DrawerButton-Wrapper {
    position: relative;
    margin: 15px 12px;
}