.Input {
    position: relative;
    border-radius: $borderRadius;
    border: 1px solid gray;
    width: auto;
    padding: 6px 12px;
    
    &__element {
        height: 30px;
        outline: 0;
        border: 0;
        padding: 0;
        margin: 0;
        background: transparent;
    }

    &:hover {
        border-color: $primary;
    }

    &:focus {
        border-color: $primary;
    }

    &--multiline {
        resize: vertical;
        min-height: 64px;
    }

    &--gutter {
        margin: 10px 0;
    }

    &--fluid {
        width: auto;
    }
}