.MediaIcon {
    width: 88px;
    height: 88px;
    margin: 20px;
    border-radius: 88px;
    box-shadow: 0 2.74416px 2.74416px rgba(0,0,0,.0274351), 0 5.48831px 5.48831px rgba(0,0,0,.0400741), 0 13.7208px 10.9766px rgba(0,0,0,.0499982), 0 20.5812px 20.5812px rgba(0,0,0,.0596004), 0 41.1623px 41.1623px rgba(0,0,0,.0709366), 0 96.0454px 89.1851px rgba(0,0,0,.09);
    position: relative;
    animation: IconsAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
    &:nth-child(even) {
        animation-direction: alternate;
    }
    
    &:nth-child(odd) {
        animation-direction: alternate-reverse;
    }
}

@keyframes IconsAnimation {
        0%   { top: -10px; transform: rotate(-8deg);}
        50%  { top: 10px; transform: rotate(8deg);}
        100% { top: -10px; transform: rotate(-8deg);}
}

