.ProjectCard {
    //min-width: 300px;
    margin-top: 30px; /* Odstep pionowy pomiedzy kartami. */
    width: 300px;
    border-radius: $borderRadius;
    border: 1px solid #00000024;
    cursor: pointer;
    flex-basis: 30%;

    @media (max-width: 511px) {
        flex-basis: 100%;

    }

    @media (max-width: 320px){
        max-width: 300px;
    }

    @media (max-width: 1024px) and (min-width: 769px) {
        flex-basis: 49%;
    }

    @media (max-width: 768px) and (min-width: 512px) {
        flex-basis: 49%;
    }

    


    // &:hover {
    //     .ProjectCard__ImgContainer {
    //     }
    // }

    &__ImgContainer {
        width: 100%;
        height: 320px;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        overflow: hidden;
        position: relative;
        transition: opacity 155ms ease-in-out;
        
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //box-shadow: 0 14px 40px 0px rgba(0, 0, 0, 0.1), 0 5px 11px 0px rgba(0, 0, 0, 0.08);
            width: auto;
            height: 100%;
        }
    }

    &__ContentContainer {
        text-align: left;
        padding: 10px 20px;

        & h3 {
            font-size: 1.25rem; // Edit me
        }

        & p {
            font-size: 15px;
            color: gray;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}